# PyTorch Core
torch>=2.0.0
torchaudio>=2.0.0

# VAE Specific Dependencies
einops
alias-free-torch
descript-audio-codec

# Data & Math Utilities
numpy
scipy
soundfile

# Attention mechanisms (Optional but recommended for transformer.py)
# flash_attn==2.3.3
# natten