Gammatone>=1.0.3
Markdown>=3.10.2
PyYAML>=6.0.3
Werkzeug>=3.1.6
aiofiles>=25.1.0
alias-free-torch>=0.0.6
charset-normalizer>=3.4.6
descript-audio-codec>=1.0.0
docstring_parser>=0.17.0
importlib_resources>=6.5.2
ipython_pygments_lexers>=1.1.1
jupyter_client>=8.8.0
jupyter_core>=5.9.1
lazy-loader>=0.5
mdurl>=0.1.2
pickleshare>=0.7.5
pure_eval>=0.2.3
scenedetect>=0.6.7.1
stack-data>=0.6.3
torchcodec>=0.10.0
torchmetrics>=1.9.0
